In [142]:
import pandas as pd
import matplotlib as mp 
import seaborn as sns

In [143]:
df = pd.read_csv("datasets/vacData.csv")
df.columns = ['YearWeek', 'Country', 'Denominator', 'DosesReceived',
       'DosesExported', 'FirstDose', 'FirstDoseRefused', 'SecondDose',
       'DoseAdditional1', 'DoseAdditional2', 'DoseAdditional3', 'UnknownDose',
       'Region', 'TargetGroup', 'Vaccine', 'Population']
df.drop(['UnknownDose','FirstDoseRefused'],axis='columns',inplace=True)
df

,YearWeek,Country,Denominator,DosesReceived,DosesExported,FirstDose,SecondDose,DoseAdditional1,DoseAdditional2,DoseAdditional3,Region,TargetGroup,Vaccine,Population
0,2020-W53,AT,7388778.0,61425.0,0.0,5343,0,0,0,0,AT,ALL,COM,8901064
1,2020-W53,AT,7388778.0,0.0,0.0,0,0,0,0,0,AT,ALL,UNK,8901064
2,2020-W53,AT,7388778.0,0.0,0.0,0,0,0,0,0,AT,ALL,NVXD,8901064
3,2020-W53,AT,7388778.0,0.0,0.0,0,0,0,0,0,AT,ALL,MOD,8901064
4,2020-W53,AT,7388778.0,0.0,0.0,0,0,0,0,0,AT,ALL,VLA,8901064
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
564581,2022-W48,SK,407927.0,0.0,0.0,0,0,0,4,0,SK,Age70_79,UNK,5459781
564582,2022-W48,SK,407927.0,0.0,0.0,0,0,0,3,0,SK,Age70_79,MOD,5459781
564583,2022-W48,SK,407927.0,0.0,0.0,0,0,0,45,3,SK,Age70_79,COM,5459781
564584,2022-W48,SK,189121.0,0.0,0.0,0,0,0,14,0,SK,Age80+,COM,5459781
564585,2022-W48,SK,189121.0,0.0,0.0,0,0,0,1,0,SK,Age80+,UNK,5459781

In [144]:
non_numeric_denom = df.Denominator.isna()
df.loc[non_numeric_denom]

,YearWeek,Country,Denominator,DosesReceived,DosesExported,FirstDose,SecondDose,DoseAdditional1,DoseAdditional2,DoseAdditional3,Region,TargetGroup,Vaccine,Population
12135,2020-W53,BE,NaN,NaN,NaN,0,0,0,0,0,BE,AgeUNK,COM,11522440
12137,2020-W53,BE,NaN,NaN,NaN,647,0,0,0,0,BE,LTCF,COM,11522440
12153,2021-W01,BE,NaN,NaN,NaN,0,0,0,0,0,BE,AgeUNK,COM,11554767
12155,2021-W01,BE,NaN,NaN,NaN,19174,0,0,0,0,BE,LTCF,COM,11554767
12178,2021-W02,BE,NaN,NaN,NaN,0,0,0,0,0,BE,AgeUNK,COM,11554767
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
563368,2022-W05,SK,NaN,0.0,0.0,0,0,1,0,0,SK,AgeUNK,COM,5459781
563394,2022-W06,SK,NaN,0.0,0.0,0,1,1,0,0,SK,AgeUNK,COM,5459781
563446,2022-W08,SK,NaN,0.0,0.0,0,0,1,0,0,SK,AgeUNK,COM,5459781
563539,2022-W11,SK,NaN,0.0,0.0,0,0,1,0,0,SK,AgeUNK,COM,5459781
564119,2022-W31,SK,NaN,0.0,0.0,0,0,0,1,0,SK,AgeUNK,COM,5459781

In [145]:
cleaned_denom = df.Denominator.dropna(axis=0)
cleaned_denom

0         7388778.0
1         7388778.0
2         7388778.0
3         7388778.0
4         7388778.0
            ...
564581     407927.0
564582     407927.0
564583     407927.0
564584     189121.0
564585     189121.0
Name: Denominator, Length: 299351, dtype: float64

In [146]:
df.loc[df.Vaccine.isna()].count()
cleaned_vaccine = df.Vaccine.dropna(axis=0)

In [150]:
df.assign(Vaccine = cleaned_vaccine)
df.loc[df.Vaccine.isna()]

,YearWeek,Country,Denominator,DosesReceived,DosesExported,FirstDose,SecondDose,DoseAdditional1,DoseAdditional2,DoseAdditional3,Region,TargetGroup,Vaccine,Population
360328,2022-W06,FR,53179816.0,0.0,0.0,751,589,954,5271,1882,FR,ALL,NaN,67656682
372791,2020-W53,IE,437030.0,0.0,0.0,1722,87,1,0,0,IE,Age18_24,NaN,5006324
372973,2022-W02,IE,492718.0,0.0,0.0,1018,1588,0,0,0,IE,Age60_69,NaN,5006324
373031,2021-W28,IE,194375.0,0.0,0.0,3,0,0,0,0,IE,Age15_17,NaN,5006324
373034,2021-W28,IE,437030.0,0.0,0.0,97,328,0,0,0,IE,Age18_24,NaN,5006324
373085,2021-W29,IE,334685.0,0.0,0.0,170,3,0,0,0,IE,Age70_79,NaN,5006324
373290,2021-W01,IE,3811534.0,22800.0,0.0,9073,5190,1,0,0,IE,ALL,NaN,5006324
373439,2022-W36,IE,1194790.0,0.0,0.0,189,68,0,0,0,IE,Age<18,NaN,5006324
373696,2022-W03,IE,250000.0,0.0,0.0,27,4040,0,0,0,IE,HCW,NaN,5006324
373792,2021-W46,IE,194375.0,0.0,0.0,705,252,0,0,0,IE,Age15_17,NaN,5006324
373871,2021-W03,IE,105000.0,0.0,0.0,50,0,0,0,0,IE,LTCF,NaN,5006324
373887,2022-W04,IE,1753124.0,0.0,0.0,1968,15214,0,0,0,IE,Age25_49,NaN,5006324
373946,2022-W04,IE,175944.0,0.0,0.0,1,0,0,0,0,IE,Age80+,NaN,5006324