In [46]:
import pandas as pd
import matplotlib as mp 
import seaborn as sns

In [47]:
df = pd.read_csv("datasets/vacData.csv")
df.columns = ['YearWeek', 'Country', 'Denominator', 'DosesReceived',
       'DosesExported', 'FirstDose', 'FirstDoseRefused', 'SecondDose',
       'DoseAdditional1', 'DoseAdditional2', 'DoseAdditional3', 'UnknownDose',
       'Region', 'TargetGroup', 'Vaccine', 'Population']
df.drop(['UnknownDose','FirstDoseRefused','DoseAdditional1','DoseAdditional2','DoseAdditional3','Region'],axis='columns',inplace=True)
df.head()

,YearWeek,Country,Denominator,DosesReceived,DosesExported,FirstDose,SecondDose,TargetGroup,Vaccine,Population
0,2020-W53,AT,7388778.0,61425.0,0.0,5343,0,ALL,COM,8901064
1,2020-W53,AT,7388778.0,0.0,0.0,0,0,ALL,UNK,8901064
2,2020-W53,AT,7388778.0,0.0,0.0,0,0,ALL,NVXD,8901064
3,2020-W53,AT,7388778.0,0.0,0.0,0,0,ALL,MOD,8901064
4,2020-W53,AT,7388778.0,0.0,0.0,0,0,ALL,VLA,8901064

In [48]:
df.loc[df.Denominator.isna()]
df.Denominator.isna().sum()/len(df)

0.46978671097051644

The missing values in the Denominator column accounts for neaerly half of our dataframe (46%) so we shoudln't drop them or else we will loose too many values.

In [49]:
missing_vaccine = df.Vaccine.isna()
missing_vaccine.sum()/len(df)

2.3025721502127223e-05

This time the missing values are only a small fraction of the total so we can drop them without loosing much information.

In [50]:
vrows_to_drop = df.loc[missing_vaccine].index
df.drop(index=vrows_to_drop, inplace=True)
df.head()

,YearWeek,Country,Denominator,DosesReceived,DosesExported,FirstDose,SecondDose,TargetGroup,Vaccine,Population
0,2020-W53,AT,7388778.0,61425.0,0.0,5343,0,ALL,COM,8901064
1,2020-W53,AT,7388778.0,0.0,0.0,0,0,ALL,UNK,8901064
2,2020-W53,AT,7388778.0,0.0,0.0,0,0,ALL,NVXD,8901064
3,2020-W53,AT,7388778.0,0.0,0.0,0,0,ALL,MOD,8901064
4,2020-W53,AT,7388778.0,0.0,0.0,0,0,ALL,VLA,8901064

We want to drop the whole rows in order to not have missing values in the vaccine column so we locate the rows with the loc[] and index methods, then we use the drop method on the dataframe with the indexes that we specified earlier to drop the whole rows.

In [51]:
missing_doses = df.loc[df.FirstDose == 0].loc[df.SecondDose == 0]
drows_to_drop = missing_doses

This time we have a lot of values involved in this operation but since they all are equal to 0 and it represents the number of people that are getting vaccinated then we can delete them because it doesn't provide any information.

In [52]:
vaccines = ['VLA','UNK','SPU','SIN','NVX','MOD','JANSS','COM','BHACOV','BECNBG','AZ']
valuesFirstDose =[]
for i in range(len(vaccines)):
    vac = df.Vaccine.str.contains(vaccines[i])
    sum = df.FirstDose.loc[vac].sum()
    valuesFirstDose.append(sum)
valuesFirstDose

[315500,
 289595189,
 1866721,
 64182,
 688714,
 70085039,
 41418128,
 453925219,
 406,
 2274694,
 71974115]

In [53]:
valuesSecondDose =[]
for i in range(len(vaccines)):
    vac = df.Vaccine.str.contains(vaccines[i])
    sum = df.SecondDose.loc[vac].sum()
    valuesSecondDose.append(sum)
valuesSecondDose

[81997,
 279659271,
 1829410,
 114939,
 432725,
 68209519,
 460223,
 432298457,
 519,
 2177869,
 64331666]

In [54]:
df2 = pd.DataFrame({
                    'Vaccine' : ['Valneva','Unknown','Sputnik','CoronaVac','Novavax','Moderna','Janssen','Pfizer','Bharat','BECNBG','AstraZeneca'],
                    'FirstTotal': valuesFirstDose,
                    'SecondTotal':valuesSecondDose,
                    })
df2

        Vaccine  FirstTotal  SecondTotal
0       Valneva      315500        81997
1       Unknown   289595189    279659271
2       Sputnik     1866721      1829410
3     CoronaVac       64182       114939
4       Novavax      688714       432725
5       Moderna    70085039     68209519
6       Janssen    41418128       460223
7        Pfizer   453925219    432298457
8        Bharat         406          519
9        BECNBG     2274694      2177869
10  AstraZeneca    71974115     64331666

In [55]:
drows_to_drop = missing_doses.index #empty doses to drop
df.drop(index=drows_to_drop, inplace=True)
df

,YearWeek,Country,Denominator,DosesReceived,DosesExported,FirstDose,SecondDose,TargetGroup,Vaccine,Population
0,2020-W53,AT,7388778.0,61425.0,0.0,5343,0,ALL,COM,8901064
9,2020-W53,AT,7388778.0,0.0,0.0,1,0,ALL,COMBA.1,8901064
11,2020-W53,AT,433755.0,0.0,0.0,1,0,Age0_4,COM,8901064
34,2020-W53,AT,258398.0,0.0,0.0,5,0,Age15_17,COM,8901064
45,2020-W53,AT,683584.0,0.0,0.0,92,0,Age18_24,COM,8901064
...,...,...,...,...,...,...,...,...,...,...
564566,2022-W48,SK,4431608.0,0.0,0.0,1,2,ALL,COM,5459781
564567,2022-W48,SK,4431608.0,0.0,0.0,2,0,ALL,JANSS,5459781
564569,2022-W48,SK,159879.0,0.0,0.0,0,1,Age15_17,COM,5459781
564572,2022-W48,SK,2055643.0,0.0,0.0,2,0,Age25_49,JANSS,5459781
564575,2022-W48,SK,2055643.0,0.0,0.0,1,2,Age25_49,COM,5459781

In [56]:
countries = []
for country in df.Country.unique():
    countries.append(country)
valuesCountriesFirst =[]
for i in range(len(countries)):
    country = df.Country.str.contains(countries[i])
    sum = df.FirstDose.loc[country].loc[df.TargetGroup.str.contains('ALL')].sum()
    valuesCountriesFirst.append(sum)
valuesCountriesFirst

[6371055,
 8390779,
 2074802,
 630545,
 6549481,
 60254504,
 4305966,
 790778,
 7429998,
 36454767,
 12233306,
 104621133,
 2282163,
 5919885,
 3687138,
 264114,
 101505914,
 25060,
 3730362,
 425510,
 1221963,
 411286,
 11880218,
 3997593,
 41679402,
 18106369,
 7915360,
 14448508,
 1187566,
 2704127]

In [57]:
valuesCountriesSecond =[]
for i in range(len(countries)):
    country = df.Country.str.contains(countries[i])
    sum = df.SecondDose.loc[country].loc[df.TargetGroup.str.contains('ALL')].sum()
    valuesCountriesSecond.append(sum)
valuesCountriesSecond

[5838348,
 7890811,
 1534292,
 595554,
 6066836,
 59274778,
 4266235,
 706059,
 6700915,
 32122126,
 11944257,
 100030724,
 2013644,
 5505070,
 3416825,
 207407,
 85049308,
 24618,
 3098922,
 379893,
 926103,
 375344,
 10446361,
 3905759,
 36028792,
 14332123,
 5861034,
 14206556,
 1024236,
 2491415]

In [58]:
df3 = pd.DataFrame({
                    'Countries' : countries,
                    'FirstTotal' : valuesCountriesFirst,
                    'SecondTotal' : valuesCountriesSecond,
                    })
df3

   Countries  FirstTotal  SecondTotal
0         AT     6371055      5838348
1         BE     8390779      7890811
2         BG     2074802      1534292
3         CY      630545       595554
4         CZ     6549481      6066836
5         DE    60254504     59274778
6         DK     4305966      4266235
7         EE      790778       706059
8         EL     7429998      6700915
9         ES    36454767     32122126
10        FI    12233306     11944257
11        FR   104621133    100030724
12        HR     2282163      2013644
13        HU     5919885      5505070
14        IE     3687138      3416825
15        IS      264114       207407
16        IT   101505914     85049308
17        LI       25060        24618
18        LT     3730362      3098922
19        LU      425510       379893
20        LV     1221963       926103
21        MT      411286       375344
22        NL    11880218     10446361
23        NO     3997593      3905759
24        PL    41679402     36028792
25        PT    18106369     14332123
26        RO     7915360      5861034
27        SE    14448508     14206556
28        SI     1187566      1024236
29        SK     2704127      2491415

In [59]:
df.reset_index(drop=True, inplace=True)
df

,YearWeek,Country,Denominator,DosesReceived,DosesExported,FirstDose,SecondDose,TargetGroup,Vaccine,Population
0,2020-W53,AT,7388778.0,61425.0,0.0,5343,0,ALL,COM,8901064
1,2020-W53,AT,7388778.0,0.0,0.0,1,0,ALL,COMBA.1,8901064
2,2020-W53,AT,433755.0,0.0,0.0,1,0,Age0_4,COM,8901064
3,2020-W53,AT,258398.0,0.0,0.0,5,0,Age15_17,COM,8901064
4,2020-W53,AT,683584.0,0.0,0.0,92,0,Age18_24,COM,8901064
...,...,...,...,...,...,...,...,...,...,...
201945,2022-W48,SK,4431608.0,0.0,0.0,1,2,ALL,COM,5459781
201946,2022-W48,SK,4431608.0,0.0,0.0,2,0,ALL,JANSS,5459781
201947,2022-W48,SK,159879.0,0.0,0.0,0,1,Age15_17,COM,5459781
201948,2022-W48,SK,2055643.0,0.0,0.0,2,0,Age25_49,JANSS,5459781
201949,2022-W48,SK,2055643.0,0.0,0.0,1,2,Age25_49,COM,5459781

In [60]:
df.to_csv('datasets/vacDataClean.csv')
df2.to_csv('datasets/vacTotalData.csv')
df3.to_csv('datasets/totalCountry.csv')